# APIs
EXA_API_KEY=
OPENAI_API_KEY=
BRIGHT_DATA_USERNAME=
BRIGHT_DATA_PASSWORD=
BRIGHT_DATA_HOST=brd.superproxy.io
BRIGHT_DATA_PORT=22225

# Trigger.dev
TRIGGER_SECRET_KEY=
TRIGGER_API_URL=https://api.trigger.dev

# Database
DATABASE_URL=postgresql://...

# App
NEXT_PUBLIC_APP_URL=https://your-app.vercel.app
CRON_SECRET=
